<%= simple_form_for(@treatment) do |f| %>
  <% if @treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment.errors.count, "error") %> prohibited this treament from being saved:</h2>

      <ul>
      <% @treatment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form id="f1 box">
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Treatment_ID, :class =>"label_name", :label => "Treatment ID", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :treatment_id, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
					<%= f.label :Name, :class =>"label_name", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :name, :class => "style2", :placeholder => 'Name of treatment' %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.input :priority, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Priority" , :collection => [["Level 1"], ["Level 2"],["Level 3"], ["Level 4"],["Level 5"], ["Level 6"],["Level 7"], ["Level 8"],["Level 9"], ["Level 10"]], :include_blank => false %>
				</div>
				<div id="innerblock_right">
    					<%= f.label :time_period, :class =>"label_name", :label => "Time Period", :required => true %>
					<span class="style2">
    						<%= f.text_field :time_period, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
					<div id="innerblock_left">
						<div>
    							<%= f.input :status, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Status" , :collection => [["Available"], ["Stopped"]], :include_blank => false, :required => true %>
						</div>
						<div id="innerblock_left_sub" >
    							<%= f.input :pricing, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Pricing" , :collection => [["Head Office Management"], ["Branch Office Management"]], :include_blank => false, :required => true %>

						</div>
					</div>
					<div id="innerblock_right">
						<%= f.label :Description, :class =>"label_name", :required => true  %>
						<span class="style2">
    							<%= f.text_area :description, :rows => 8, :cols => 30, :class => "style1"  %>
						</span>
					</div>
			</div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Base_Time, :class =>"label_name" %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :base_time, :class => "style2"%>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :price, :class =>"label_name", :label => "Price", :required => true %>
					<span class="style2">
    						<%= f.text_field :price, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
     					<%= f.label :taxable, :class =>"label_name", :label => "Taxable" %>
					<span class="style2">
    						<%= f.check_box :taxable %>
					</span>
				</div>
		   </div>
			
			<div class="block  block_bt">
				<span>
					<input class="style3" type="submit" value="Add Treatment" name="n10"  >
				</span>
				<span>
					<input class="style3" type="submit" value="Cancel" name="n10" >
				</span>
			</div>
		</form>

<% end %>
