		<div class="header_bg">
			<h2> Treatment List </h2>
			
		</div>
		<div class="branch_button">
		
		<img src="../images/search.png" width="153" height="35" border="none"/>
	   <a href="treatments/new.html">
		<img src="../images/addbutton.png" width="128" height="40" border="none"/></a>
		<a href="#">
		<img src="../images/editbutton.png" width="128" height="39" border="none" onClick='alert("Please select a treatment to edit")'/>
		</a></div>
		<div class="branch_text"> <a href="default.asp">Advanced Search</a></div>


<table class="index_box">
  <tr>
    <th class="maintitle user_radio bg_listholder"></th>
    <th class="maintitle bg_listholder">ID</th>
    <th class="maintitle bg_listholder">Treatment Name</th>
    <th class="maintitle bg_listholder">Price</th>
    <th class="maintitle bg_listholder">Description</th>
    <th class="maintitle bg_listholder">Taxable</th>
  </tr>


<% @treatments.each do |treatment| %>
  <tr class="<%= cycle('title', 'bg_grey') %> ">
    <td class="user_radio"><%= radio_button_tag("treatment_ids[]", treatment.id, false, :onClick => 'location.href="' + edit_treatment_path(treatment) + '"'
)%></td>
    <td class="user_id" id="bg_listholder"><%= treatment.id %></td>
    <td class="treatment_name" id="bg_listholder"><%= treatment.name %></td>
    <td class="treatment_price" id="bg_listholder"><%= treatment.price %></td>
    <td class="treatment_description" id="bg_listholder"><%= treatment.description %></td>
    <% if treatment.taxable == true %>
				<td class="user_status" id="bg_listholder"><img src="../images/tick.png" width="31" height="34"/></li>
			<% elsif %>
				<td class="user_status" id="bg_listholder"><img src="../images/untick.png" width="31" height="34"/></li>
   <% end %>
  </tr>

<% end %>
</table>
