
		<div class="header_bg">
			<h2> Treatment View </h2>
		</div>
		<form>
			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Treatment name </label>
					<div class="style2 style4">
					 :<%= @treatment.name%>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Treatment Description</label>
					<span class="style2">
						:<%= @treatment.description%>
					</span>
				</div>
		   </div>
			<div class="block">
					<div id="innerblock_left">
						<div>
							<label class="label_name">Time period</label>
							<span class="style2">
								:<%= @treatment.time_period%>
							</span>
						</div>
						
					</div>
					<div id="innerblock_right">
						<label class="label_name">Status</label>
						<span class="style2">
							:<%= @treatment.status%>
						</span>
				  </div>
			</div>
			<div class="block">
				<div id="innerblock_left">
						
							<label class="label_name">Pricing</label>
							<span class="style2">
								:<%= @treatment.pricing%>
							</span>
					
						
					</div>
				<div id="innerblock_right">
					<label class="label_name">Base time</label>
					<span class="style2">
						:<%= @treatment.base_time%>
					</span>
				</div>
			</div>
			<div class="block">
				<div id="innerblock_left">

							<label class="label_name">Price</label>
							<span class="style2">
							
							:<%= @treatment.price%>			
							</span>	
						
						
					</div>
				<div id="innerblock_right" style="margin-left: 33px;">
					<label class="label_name">Priority</label>
					<span class="style2">
						:<%= @treatment.priority%>	
					</span>	
				</div>
			</div>

			<div class="block_bt">
				<span>
			<% if can? :update, @treatment %>
			<%= button_to 'Edit treatment', edit_treatment_path(@treatment), :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
				<span>
			<% if can? :read, @treatment %>
			<%= button_to 'Back', treatments_path, :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
			</div>
		</form>
