<%= simple_form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% @branch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form id="f1 box">

			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Branch_Id, :class =>"label_name", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :branch_id, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
					<%= f.label :Name, :class =>"label_name", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :name, :class => "style2", :placeholder => 'Name of branch' %>
					</span>
				</div>
		   </div>


			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Phone_Number, :class =>"label_name", :label => "Phone Number", :required => true %>
					<span class="style2">
    						<%= f.text_field :phone, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
					<%= f.label :Alternate_Phone, :class =>"label_name", :label => "Alternate Number"   %>
					<span class="style2">
						<%= f.text_field :alternate, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
					<div id="innerblock_left">
						<div>
		    					<%= f.label :Operation_Started_On, :class =>"label_name" , :label => "Operation Started On"  %>
							<span class="style2">
    								<%= f.date_select :operationstartdate, :class => "style2" %>
							</span>
						</div>
						<div id="innerblock_left_sub" >
					<%= f.input :pricing, :label_html => { :class => 'label_name' }, :label => "Pricing Category" , :collection => [["Head Office Management"], ["Branch Office Management"]], :include_blank => false %> 
						</div>
					</div>
					<div id="innerblock_right">
						<%= f.label :Description, :class =>"label_name"  %>
						<span class="style2">
    							<%= f.text_area :description, :rows => 8, :cols => 30, :class => "style1"  %>
						</span>
					</div>
			</div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Online_Branch, :class =>"label_name", :label => "Online Branch"   %>
					<span class="style2" >
    						<%= f.check_box :online, :class => "style5" %>
					</span>
				</div>
					<div id="innerblock_right">
						<%= f.label :active, :class =>"label_name"   %>
						<span class="style2" >
    							<%= f.check_box :active, :class => "style5" %>
						</span>
					</div>
			</div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Address, :class =>"label_name", :required => true %>
					<span class="style2">
    						<%= f.text_area :address, :rows => 8, :cols => 30, :class => "style1" %>
					</span>
				</div>

				<div id="innerblock_right">
    					<%= f.label :Comments, :class =>"label_name"  %>
					<span class="style2">
    						<%= f.text_area :comments, :rows => 8, :cols => 30, :class => "style1"  %>
					</span>
				</div>
				</div>

				<div class="block">
				</div>
			<div class="block  block_bt">
				<span>
					<input class="style3" type="submit" value="Add Branch" name="n10"  >
				</span>
				<span>
					<input class="style3" type="submit" value="Cancel" name="n10" >
				</span>
			</div>
		</form>

<% end %>
