		<div class="header_bg">
			<h2> Branch List </h2>
			
		</div>
		<div class="branch_button">
		
		<img src="../images/search.png" width="153" height="35" border="none"/>
	   <a href="branches/new.html">
		<img src="../images/addbutton.png" width="128" height="40" border="none"/></a>
		<a href="#">
		<img src="../images/editbutton.png" width="128" height="39" border="none" onClick='alert("Please select a branch to edit")'/>
		</a></div>
		<div class="branch_text"> <a href="default.asp">Advanced Search</a></div>


<table class="index_box">
  <tr>
    <th class="maintitle user_radio bg_listholder"></th>
    <th class="maintitle bg_listholder">ID</th>
    <th class="maintitle bg_listholder">Branch Name</th>
    <th class="maintitle bg_listholder">Address</th>
    <th class="maintitle bg_listholder">Phone Number</th>
    <th class="maintitle bg_listholder">Status</th>
  </tr>


<% @branches.each do |branch| %>
  <tr class="<%= cycle('title', 'bg_grey') %> ">
    <td class="user_radio"><%= radio_button_tag("branch_ids[]", branch.id, false, :onClick => 'location.href="' + edit_branch_path(branch) + '"'
)%></td>
    <td class="branch_id" id="bg_listholder"><%= branch.id %></td>
    <td class="branch_name" id="bg_listholder"><%= branch.name %></td>
    <td class="branch_address" id="bg_listholder"><%= branch.address %></td>
    <td class="branch_number" id="bg_listholder"><%= branch.phone %></td>
    <% if branch.active == true %>
				<td class="user_status" id="bg_listholder"><img src="../images/tick.png" width="31" height="34"/></li>
			<% elsif %>
				<td class="user_status" id="bg_listholder"><img src="../images/untick.png" width="31" height="34"/></li>
   <% end %>
  </tr>

<% end %>
</table>


