			<p id="notice"><%= notice %></p>

			<div class="block">
				<div id="innerblock_left">
					<p class="label_name">Name</p>
					<span class="style2">
						<%= @branch.name %>
					</span>
				</div>
				<div id="innerblock_right">
					<p class="label_name">Phone Number</p>
					<span class="style2">
						<%= @branch.phone %>
					</span>
				</div>
		   </div>
			<div class="block">
					<div id="innerblock_left">
						<div>
						<p class="label_name">Alternate Number</p>
							<span class="style2">
							<%= @branch.alternate %>
							</span>
						</div>
						<div id="innerblock_left_sub" >
						<p class="label_name">Pricing category</p>
							<span class="style2" >
								<%= @branch.pricing %>
							</span>
						</div>
					</div>
					<div id="innerblock_right">
					<p class="label_name">Decription</p>
						<span class="style2">
							<%= @branch.description %>
						</span>
					</div>
			</div>
			<div class="block">
				<div id="innerblock_left">
					<p class="label_name">Online</p>
					<span class="style2" >
						<%= @branch.online %>
					</span>
				</div>
				<div id="innerblock_right">
					<p class="label_name">Operation start date</p>
					<span class="style2">
						<%= @branch.operationstartdate %>
					</span>
				</div>
			</div>
			<div class="block">
				<div id="innerblock_left">
					<p class="label_name">Address</p>
					<span class="style2">
						<%= @branch.address %>
					</span>
				</div>
					
				<div id="innerblock_right">
					<p class="label_name">Comments</p>
					<span class="style2">
						<%= @branch.address %>
					</span>
				</div>
				</div>

				<div class="block">
					<p class="label_name">Active</p>
					<span class="style2">
						<%= @branch.active %>
					</span>
				</div>


			<div class="block  block_bt">
				<span>
			<% if can? :update, @branch %>
			<%= button_to 'Edit Branch', edit_branch_path(@branch), :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
				<span>
			<% if can? :read, @branch %>
			<%= button_to 'Back', branches_path, :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
			</div>
