  <div>
    <a href="usermanagement.html">
			<span class="tab Active_tab">
				<img class="img"  src="../images/custmr.png"  width="35" height="35"   border="none"/>
				<span> User Management</span>

			</span>
    </a>
    <a href="#">
			<span class="tab in_Active_tab">
				 <img class="img" src="../images/custmrinfrmtn.png"  width="35" height="35"   border="none"/>
				 <span>Company Information</span>
			</span>
    </a>
  </div>
  <div class="header_bg">
    <h2> Resend confirmation instructions </h2>

  </div>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Email, :class =>"label_name", :required => true  %>
					<span class="style2">
    						<%= f.text_field :email, :class => "style2" %>
					</span>
				</div>
			</div>
			<div class="block  block_bt">
					<span>
						<input class="style3" type="submit" value="Resend confirmation instructions" name="n10"  >
					</span>
			</div>

<% end %>
<%= render "devise/shared/links" %>
