<%= simple_form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form id="f1 box">
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :employeeid, :class =>"label_name", :label => "Employee ID", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :employeeid, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.input :title, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Title" , :collection => [["Mr."], ["Mrs."]], :include_blank => false %> 
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Fore_Name, :class =>"label_name", :label => "Fore Name", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :fore_name, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Sur_Name, :class =>"label_name", :label => "Sur Name", :required => true %>
					<span class="style2">
    						<%= f.text_field :sur_name, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :known_as, :class =>"label_name", :label => "Known As", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :known_as, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Date_Of_Birth, :class =>"label_name" , :label => "Date Of Birth", :required => true  %>
					<span class="style2">
    						<%= f.date_select :date_of_birth, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.input :sex, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Gender" , :collection => [["Male"], ["Female"]], :include_blank => false %>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Phone, :class =>"label_name", :label => "Phone" %>
					<span class="style2">
    						<%= f.text_field :phone, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :mobile_number, :class =>"label_name", :label => "Mobile Number" %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :mobile_number, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.input :job_title, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Job Title" , :collection => [["Branch manager"], ["Regional Head"]], :include_blank => false %>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Address_Line_One, :class =>"label_name", :label => "Address Line One" %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :address_line_one, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Address_Line_Two, :class =>"label_name", :label => "Address Line Two" %>
					<span class="style2">
    						<%= f.text_field :address_line_two, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Address_Line_Three, :class =>"label_name", :label => "Address Line Three" %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :address_line_three, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Address_Line_Four, :class =>"label_name", :label => "Address Line Four" %>
					<span class="style2">
    						<%= f.text_field :address_line_four, :class => "style2" %>
					</span>
				</div>
		   </div>

			<div class="block">
				<div id="innerblock_left">
					<%= f.label :PostCode, :class =>"label_name", :label => "Postcode", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :postcode, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Email_Address, :class =>"label_name", :label => "Email Address", :required => true %>
					<span class="style2">
    						<%= f.text_field :email_address, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Date_Of_Joining, :class =>"label_name" , :label => "Date Of Joining", :required => true  %>
					<span class="style2">
    						<%= f.date_select :date_of_joining, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.input :status, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Status" , :collection => [["Active"], ["Inactive"], ["Deleted"]], :include_blank => false %>
				</div>
		   </div>
			
			
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :comments, :class =>"label_name", :label => "Comments" %>
					<span class="style2">
    							<%= f.text_area :comments, :rows => 8, :cols => 30, :class => "style1"  %>
						</span>
				</div>
				
		   </div>
			
			<div class="block  block_bt">
				<span>
					<input class="style3" type="submit" value="Add Treatment" name="n10"  >
				</span>
				<span>
					<input class="style3" type="submit" value="Cancel" name="n10" >
				</span>
			</div>
		</form>
<% end %>
