		<div class="header_bg">
			<h2> Employee List </h2>
			
		</div>
		<div class="branch_button">
		
		<img src="../images/search.png" width="153" height="35" border="none"/>
	   <a href="employees/new.html">
		<img src="../images/addbutton.png" width="128" height="40" border="none"/></a>
		<a href="#">
		<img src="../images/editbutton.png" width="128" height="39" border="none" onClick='alert("Please select a employee to edit")'/>
		</a></div>
		<div class="branch_text"> <a href="default.asp">Advanced Search</a></div>


<table class="index_box">
  <tr>
    <th class="maintitle user_radio bg_listholder"></th>
    <th class="maintitle bg_listholder">ID</th>
    <th class="maintitle bg_listholder">Title</th>
    <th class="maintitle bg_listholder">First Name</th>
    <th class="maintitle bg_listholder">Last Name</th>
    <th class="maintitle bg_listholder">Designation</th>
    <th class="maintitle bg_listholder">Status</th>
  </tr>


<% @employees.each do |employee| %>
  <tr class="<%= cycle('title', 'bg_grey') %> ">
    <td class="user_radio"><%= radio_button_tag("employee_ids[]", employee.id, false, :onClick => 'location.href="' + edit_employee_path(employee) + '"'
)%></td>
    <td class="user_id" id="bg_listholder"><%= employee.id %></td>
    <td class="emp_title" id="bg_listholder"><%= employee.title %></td>
    <td class="emp_firstname" id="bg_listholder"><%= employee.fore_name %></td>
    <td class="emp_lastname" id="bg_listholder"><%= employee.sur_name %></td>
    <td class="emp_designation" id="bg_listholder"><%= employee.job_title %></td>
    <% if employee.status == "true" %>
				<td class="user_status" id="bg_listholder"><img src="../images/tick.png" width="31" height="34"/></li>
			<% elsif %>
				<td class="user_status" id="bg_listholder"><img src="../images/untick.png" width="31" height="34"/></li>
   <% end %>
  </tr>

<% end %>
</table>
