
		<div class="header_bg">
			<h2> Employee View </h2>
		</div>
		<form>
			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Employee id </label>
					<div class="style2 style4">
					 :<%= @employee.employeeid %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Title</label>
					<span class="style2">
						:<%= @employee.title %>
					</span>
				</div>
		       </div>

			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Fore Name </label>
					<div class="style2 style4">
					 :<%= @employee.fore_name %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Sur Name</label>
					<span class="style2">
						:<%= @employee.sur_name %>
					</span>
				</div>
		       </div>
			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Known as</label>
					<div class="style2 style4">
					 :<%= @employee.known_as %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Date Of Birth</label>
					<span class="style2">
						:<%= @employee.date_of_birth %>
					</span>
				</div>
		       </div>
			
			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Sex</label>
					<div class="style2 style4">
					 :<%= @employee.sex %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Phone</label>
					<span class="style2">
						:<%= @employee.phone %>
					</span>
				</div>
		       </div>

			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Mobile Number </label>
					<div class="style2 style4">
					 :<%= @employee.mobile_number %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Job Title</label>
					<span class="style2">
						:<%= @employee.job_title %>
					</span>
				</div>
		       </div>

			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Address </label>
					<div class="style2 style4">
					 :<%= @employee.address_line_one +  @employee.address_line_two + @employee.address_line_three + @employee.address_line_four %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Post Code</label>
					<span class="style2">
						:<%= @employee.postcode %>
					</span>
				</div>
		       </div>

			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Email Address</label>
					<div class="style2 style4">
					 :<%= @employee.email_address %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Date Of Joining</label>
					<span class="style2">
						:<%= @employee.date_of_joining %>
					</span>
				</div>
		       </div>

			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Comments</label>
					<div class="style2 style4">
					 :<%= @employee.comments %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Status</label>
					<span class="style2">
						:<%= @employee.status %>
					</span>
				</div>
		       </div>
			<div class="block_bt">
				<span>
			<% if can? :update, @employee %>
			<%= button_to 'Edit', edit_employee_path(@employee), :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
				<span>
			<% if can? :read, @employee %>
			<%= button_to 'Back', employee_path, :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
			</div>
		</form>

<!--

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employee_path %>

-->
