  <div>
    <a href="usermanagement.html">
			<span class="tab Active_tab">
				<img class="img"  src="../images/custmr.png"  width="35" height="35"   border="none"/>
				<span> User Management</span>

			</span>
    </a>
    <a href="#">
			<span class="tab in_Active_tab">
				 <img class="img" src="../images/custmrinfrmtn.png"  width="35" height="35"   border="none"/>
				 <span>Company Information</span>
			</span>
    </a>
  </div>
  <div class="header_bg">
    <h2> User Registration </h2>

  </div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :User_Id, :class =>"label_name", :autofocus => true, :label => "User ID", :required => true  %>
					<span class="style2">
    						<%= f.text_field :user_id, :class => "style2", :required => true, :autocomplete => 'off'  %>
					</span>
				</div>
				<div id="innerblock_right">
					<%= f.label :Email, :class =>"label_name", :required => true   %>
					<span>
				    		<%= f.text_field :email, :class => "style2", :required => true, :autocomplete => 'off' %>
					</span>
				</div>
		    	</div>

			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Password, :class =>"label_name", :required => true   %>
					<span class="style2">
    						<%= f.text_field :password, :class => "style2", :required => true, :type =>"password"  %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Password_Confirmation, :class =>"label_name", :label => "Password Confirmation", :required => true   %>
					<span class="style2">
    						<%= f.text_field :password_confirmation, :class => "style2", :required => true, :type =>"password"  %>
					</span>
				</div>
		    	</div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.input :sercret_question, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Secret Question" , :collection => [["Which is your fav sports team?"], ["What is your dream destination?"], ["What is your pets name?"]], :include_blank => false %>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Sercret_Answer, :class =>"label_name", :label => "Secrect Answer" %>
					<span class="style2">
    						<%= f.text_field :secret_answer, :class => "style2", :required => true  %>
					</span>
				</div>
		    	</div>
			<div class="block">
				<div id="innerblock_left">
    					<%= f.input :user_type, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "User Type" , :collection => [["Master"], ["HO Administrator"], ["Practice Manager"], ["Branch Administrator"], ["Consultant"]], :include_blank => false %>
				</div>
				<div id="innerblock_right">
    					<%= f.input :user_status, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Status" , :collection => [["Active"], ["Inactive"], ["Deleted"]], :include_blank => false %>
				</div>
		    	</div>
			<div class="block  block_bt">
					<span>
						<input class="style3" type="submit" value="Sign Up" name="n10"  >
					</span>
			</div>
<% end %>

<%= render "devise/shared/links" %>
