  <div>
    <a href="usermanagement.html">
			<span class="tab Active_tab">
				<img class="img"  src="../images/custmr.png"  width="35" height="35"   border="none"/>
				<span> User Management</span>

			</span>
    </a>
    <a href="#">
			<span class="tab in_Active_tab">
				 <img class="img" src="../images/custmrinfrmtn.png"  width="35" height="35"   border="none"/>
				 <span>Company Information</span>
			</span>
    </a>
  </div>
  <div class="header_bg">
    <h2> Change Password </h2>

  </div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this password from being changed:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Password, :class =>"label_name" %>
					<span class="style2">
    						<%= f.text_field :password, :class => "style2", :required => true  %>
					</span>
				</div>
				<div id="innerblock_right">
					<%= f.label :Confirm your new password, :class =>"label_name" %>
					<span>
				    		<%= f.password_confirmation :email, :class => "style2", :required => true %>
					</span>
				</div>
		    	</div>


			<div class="block  block_bt">
					<span>
						<input class="style3" type="submit" value="Change my password" name="n10"  >
					</span>
			</div>
<% end %>
