  <div>
    <a href="usermanagement.html">
			<span class="tab Active_tab">
				<img class="img"  src="/images/custmr.png"  width="35" height="35"   border="none"/>
				<span> User Management</span>

			</span>
    </a>
    <a href="#">
			<span class="tab in_Active_tab">
				 <img class="img" src="/images/custmrinfrmtn.png"  width="35" height="35"   border="none"/>
				 <span>Company Information</span>
			</span>
    </a>
  </div>
  <div class="header_bg">
    <h2> Forgot your password? </h2>

  </div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
	<div class="block">
		<div id="innerblock_left">
			<%= f.label :Email, :class =>"label_name", :required => true  %>
			<span class="style2">
				<%= f.text_field :email, :class => "style2" %>
			</span>
		</div>
		</div>
			<div class="block  block_bt">
			<span>
				<input class="style6" type="submit" value="Send me reset password instructions" name="n10"  >
			</span>
			</div>
<% end %>
<%= render "devise/shared/links" %>
