		<div class="header_bg">
			<h2> Head Control Panel </h2>
		</div>
		<div class="boxs">
			<div class="main">
			<div>
				 <%=link_to(image_tag("../images/custmr.png",:size => "113x114", :alt=> "Add User"),
 {:controller=>"devise/registrations", :action=>"new"}, :align=>"middle", :border=>"none") %>
				</br>Add User
			</div> 
			<div>
 				<%=link_to(image_tag("../images/addemployee.png",:size => "106x120", :alt=> "Add Employee"),
 {:controller=>"employees", :action=>"new"}, :align=>"middle", :border=>"none") %>
				</br> Add Employee
			</div>
			<div>
 				<%=link_to(image_tag("../images/addbranch.png",:size => "134x113", :alt=> "Add Branch"),
 {:controller=>"branches", :action=>"new"}, :align=>"middle", :border=>"none") %>
				</br>Add Branch
			</div>
			</div>
			<div class="main">
				<div>
 				<%=link_to(image_tag("../images/addtreatment.png",:size => "130x97", :alt=> "Add Treatment"),
 {:controller=>"treatments", :action=>"new"}, :align=>"middle", :border=>"none") %>
					</br>Add Treatment
				</div>
				<div >
 				<%=link_to(image_tag("../images/addproduct.png",:size => "115x97", :alt=> "Add Product"),
 {:controller=>"products", :action=>"new"}, :align=>"middle", :border=>"none") %>
					</br>Add Product
				</div>
				<div >
 				<%=link_to(image_tag("../images/reports.png",:size => "115x97", :alt=> "Reports"),
 {:controller=>"home", :action=>"index"}, :align=>"middle", :border=>"none") %>
					</br>Reports
				</div>
			</div>
		</div>
