  <div>
    <a href="usermanagement.html">
			<span class="tab Active_tab">
				<img class="img"  src="../images/custmr.png"  width="35" height="35"   border="none"/>
				<span> User Management</span>

			</span>
    </a>
    <a href="#">
			<span class="tab in_Active_tab">
				 <img class="img" src="../images/custmrinfrmtn.png"  width="35" height="35"   border="none"/>
				 <span>Company Information</span>
			</span>
    </a>
  </div>
  <div class="header_bg">
    <h2> User Management </h2>

  </div>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

			<div class="block">
				<div id="innerblock_left">
    					<%= f.label :Email, :class =>"label_name" %>
					<span class="style2">
    						<%= f.text_field :email, :class => "style2" %>
					</span>
				</div>
				<div id="innerblock_right">
					<%= f.label :Password, :class =>"label_name" %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :password, :class => "style2", :type =>"password",  :autocomplete => 'off' %>
					</span>
				</div>
		    	</div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Remember_Me, :class =>"label_name" %>
					<span class="style2">
    						<%= f.check_box :remember_me %>
					</span>
				</div>
			</div>
			<div class="block  block_bt">
					<span>
						<input class="style3" type="submit" value="Sign in" name="n10"  >
					</span>
			</div>
 </form>
<% end %>
