<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form id="f1 box">
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :ProductId, :class =>"label_name", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :productid, :class => "style2", :placeholder => 'product id' %>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Name, :class =>"label_name", :label => "Name", :required => true %>
					<span class="style2">
    						<%= f.text_field :name, :class => "style2" %>
					</span>
				</div>
		   </div>
			<div class="block">
					<div id="innerblock_left">
						<div>
    							<%= f.label :Unit_Price, :class =>"label_name", :label => "Unit Price", :required => true %>
							<span class="style2">
    								<%= f.text_field :unit_price, :class => "style2" %>
							</span>
						</div>
						<div id="innerblock_left_sub" >
     							<%= f.label :Universal_Product_Code, :class =>"label_name", :label => "Universal Product Code", :required => true %>
							<span class="style2">
    								<%= f.text_field :universal_product_code, :class => "style2" %>
							</span>

						</div>
					</div>
					<div id="innerblock_right">
						<%= f.label :Description, :class =>"label_name"  %>
						<span class="style2">
    							<%= f.text_area :description, :rows => 8, :cols => 30, :class => "style1"  %>
						</span>
					</div>
			</div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.input :priority, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Priority" , :collection => [["Level 1"], ["Level 2"],["Level 3"], ["Level 4"],["Level 5"], ["Level 6"],["Level 7"], ["Level 8"],["Level 9"], ["Level 10"]], :include_blank => false %> 
				</div>
				<div id="innerblock_right">
    					<%= f.input :status, :label_html => { :class => 'label_name' }, :input_html => { :class => 'style2' }, :label => "Status" , :collection => [["Available"], ["Stopped"]], :include_blank => false %> 
				</div>
		   </div>
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Warning_Quantity_Level, :class =>"label_name" %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :warning_quantity_level, :class => "style2"%>
					</span>
				</div>
				<div id="innerblock_right">
    					<%= f.label :Low_Quantity_Level, :class =>"label_name", :label => "low_quantity_level" %>
					<span class="style2">
    						<%= f.text_field :low_quantity_level, :class => "style2" %>
					</span>
				</div>
		   </div>
			
			<div class="block">
				<div id="innerblock_left">
					<%= f.label :Available_Quantity, :class =>"label_name", :required => true %>
					<span class="style2" type="text" name="n2">
				    		<%= f.text_field :available_quantity, :class => "style2"%>
					</span>
				</div>
				
		   </div>
			
			<div class="block  block_bt">
				<span>
					<input class="style3" type="submit" value="Add Treatment" name="n10"  >
				</span>
				<span>
					<input class="style3" type="submit" value="Cancel" name="n10" >
				</span>
			</div>
		</form>

<% end %>






