		<div class="header_bg">
			<h2> Product List </h2>
			
		</div>
		<div class="branch_button">
		
		<img src="../images/search.png" width="153" height="35" border="none"/>
	   <a href="products/new.html">
		<img src="../images/addbutton.png" width="128" height="40" border="none"/></a>
		<a href="#">
		<img src="../images/editbutton.png" width="128" height="39" border="none" onClick='alert("Please select a product to edit")'/>
		</a></div>
		<div class="branch_text"> <a href="default.asp">Advanced Search</a></div>


<table class="index_box">
  <tr>
    <th class="maintitle user_radio bg_listholder"></th>
    <th class="maintitle bg_listholder">ID</th>
    <th class="maintitle bg_listholder">Product Name</th>
    <th class="maintitle bg_listholder">Available Quantity</th>
    <th class="maintitle bg_listholder">Unit Price</th>
    <th class="maintitle bg_listholder">Status</th>
  </tr>


<% @products.each do |product| %>
  <tr class="<%= cycle('title', 'bg_grey') %> ">
    <td class="user_radio"><%= radio_button_tag("product_ids[]", product.id, false, :onClick => 'location.href="' + edit_product_path(product) + '"'
)%></td>
    <td class="user_id" id="bg_listholder"><%= product.id %></td>
    <td class="product_name" id="bg_listholder"><%= product.name %></td>
    <td class="product_quantity" id="bg_listholder"><%= product.available_quantity %></td>
    <td class="product_price" id="bg_listholder"><%= product.unit_price %></td>
    <% if product.status == "available" %>
				<td class="user_status" id="bg_listholder"><img src="../images/tick.png" width="31" height="34"/></li>
			<% elsif %>
				<td class="user_status" id="bg_listholder"><img src="../images/untick.png" width="31" height="34"/></li>
   <% end %>
  </tr>

<% end %>
</table>
