
		<div class="header_bg">
			<h2> Product View </h2>
		</div>
		<form>
			<div class="block">
				<div id="innerblock_left">

					<label class="label_name">Product id </label>
					<div class="style2 style4">
					 :<%= @product.productid %>						
					</div>
				</div>	
						
					
				<div id="innerblock_right" style="margin-left:28px;">
					<label class="label_name">Product name</label>
					<span class="style2">
						:<%= @product.name %>
					</span>
				</div>
		   </div>
			<div class="block">
					<div id="innerblock_left">
						<div>
							<label class="label_name">Product Description</label>
							<span class="style2">
								:<%= @product.description %>
							</span>
						</div>
						
					</div>
					<div id="innerblock_right">
						<label class="label_name">Unit Price</label>
						<span class="style2">
							:<%= @product.unit_price %>
						</span>
				  </div>
			</div>
			<div class="block">
				<div id="innerblock_left">
						
							<label class="label_name">Universal Product Code</label>
							<span class="style2">
								:<%= @product.universal_product_code %>
							</span>
					
						
					</div>
				<div id="innerblock_right">
					<label class="label_name">Available Quantity</label>
					<span class="style2">
						:<%= @product.available_quantity %>
					</span>
				</div>
			</div>
			<div class="block">
				<div id="innerblock_left">

							<label class="label_name">Status</label>
							<span class="style2">
							
							:<%= @product.status %>			
							</span>	
						
						
					</div>
				<div id="innerblock_right" style="margin-left: 33px;">
					<label class="label_name">Warning Quantity Level</label>
					<span class="style2">
						:<%= @product.warning_quantity_level %>	
					</span>	
				</div>
			</div>
			<div class="block">
				<div id="innerblock_left">

							<label class="label_name">Low Quantity Level</label>
							<span class="style2">
							
							:<%= @product.low_quantity_level %>			
							</span>	
						
						
					</div>
				<div id="innerblock_right" style="margin-left: 33px;">
					<label class="label_name">Priority</label>
					<span class="style2">
						:<%= @product.priority %>	
					</span>	
				</div>
			</div>

			<div class="block_bt">
				<span>
			<% if can? :update, @product %>
			<%= button_to 'Edit', edit_product_path(@product), :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
				<span>
			<% if can? :read, @branch %>
			<%= button_to 'Back', products_path, :type => "submit", :class => "style3", :method => "get" %>
			<% end %>
				</span>
			</div>
		</form>
<!--

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

-->
