<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"> 

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title>Branch List</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

	<div class="header">
	
		<div class="logo">
			<a href="head_control_panel.html"><img src="/images/logo.png"  width="305" height="126" border="none"/></a>   
		</div>
		<div class="menu_holder">
			
			<div class="logged_user"> 
			<span>
			<% if user_signed_in? %>
				Signed in as <%= current_user.email %>. Not you?
			<b><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  			<% else %>
			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %></b> 
  			<% end %> 
			</span>
			</div>
			<div class="date">
			<%= Time.now.strftime("%I:%M %p") %> <%= Date.today %>
			</div>
			<ul class="menu">
			
			<b>
			<li><a href="/users/sign_in.html">System</a></li>
			<li><a href="/branches.html">Branches</a></li>
			<li><a href="/employees.html">Employees</a></li>
			<li><a href="/treatments.html">Treatments</a></li>
			<li><a href="/products.html">Stock</a></li>
			<li><a href="#">Reports</a></li>
			</b>
			<p id="notice"><%= notice %></p>
			</ul>
		</div>
		
	</div>
	<div class="box">
	<%= yield %>
	</div> 
</div>
<div class="footer">
	Copyright &copy; 2012 <b>CDMS</b>. All rights reserved.
</div>	
	

</body>
</html>
